<section class="btn-markup">

<% if(savedProductsArray.length > 0) {%>
<% savedProductsArray.map(item => { %>
<% if(item.id == data.product._id) { %>
    <button type="submit" name="product_id" value="<%= data.product._id %>" class="bewaren" > Bewaard </button>

<% } else {%>
<form method="post" action="/bewaren">
    <button type="submit" name="product_id" value="<%= data.product._id %>" class="bewaren" > Bewaren </button>
</form>
<% } %>
<% })%>
<% } else { %>


<form method="post" action="/bewaren">
    <button type="submit" name="product_id" value="<%= data.product._id %>" class="bewaren" > Bewaren </button>
</form>
<% } %>
    <a class="scan-product" href="/scanner"> Scan ander product</a>
</section>`
