<section class="wrapper">
<section class="btn-primary">
    <a id="scan" href="/scanner"><i class="fa-solid fa-barcode fa-2xl scan-product"></i> Scam</a>
    <a id="search" href="/zoeken"><i class="fa-solid fa-magnifying-glass fa-2xl"></i> Zoeken</a>
</section>