<section class="products">
    <header>
        <svg>
            <line x1="0" y1="13" x2="100" y2="13" stroke="white" stroke-width="3%" />
        </svg>
        <h2>Mijn producten</h2>
        <svg>
            <line x1="0" y1="13" x2="100" y2="13" stroke="white" stroke-width="3%" />
        </svg>
    </header>

    <article>
        <p> Je hebt nog geen producten opgeslagen...</p>
        <p>Scan snel een product om deze te kunnen opslaan!</p>
    </article>
</section>