    <form action="/zoek" method="GET"  class="searchForm">
        <input type="text" id="searchInput" name="query" placeholder="Zoek op merknaam of soort" />
        <input type="submit" value="Zoek" />
    </form>