<%- include('includes/head.ejs') %>

<%- include('includes/header.ejs') %>

<%- include('includes/header-img.ejs') %>


<div class="wrapper offline">
    <h3> Het lijkt erop dat je geen verbinding hebt. </h3>
    <p>Zorg voor een internet verbinding om de app te kunnen gebruiken. </p>

    <a class="offline-btn" href="/"> Terug naar de homepagina </a>
</div>

