<%- include('includes/head.ejs') %>

<%- include('includes/header.ejs') %>
<section class="search-wrapper">
    <h1> Zoek naar een product </h1>
  
<%- include('includes/search-bar.ejs') %>
</section>
<%- include('includes/result-list.ejs') %>


