<%- include('includes/head.ejs') %>
<%- include('includes/header.ejs') %>

<section class="scanner">
    <video autoplay="autoplay"></video>
    <div class="loading"></div>

    <ul class="scanner-help">
    <li>
      <i class="fa-sharp fa-solid fa-circle-info fa-xl"></i>
    </li>
        <li>
            Houd de barcode van een product voor de camera
        </li>

    </ul>
    <form action="/zoek-barcode" method="GET">
        <input type="text" placeholder="Voer barcode nummer hier in" class="barcode-input" name="barcode" />
        <input type="submit" value="Zoek" />
    </form>
</section>