<%- include('includes/head.ejs') %>

<%- include('includes/header.ejs') %>
<section class="wrapper">
    <h1> Zoek naar een product </h1>
  
    <form action="/zoek" method="GET"  class="searchForm">
        <input type="text" id="searchInput" name="query" placeholder="Zoek op merknaam of soort" />
        <input type="submit" value="Zoek" />
    </form>


  
</section>
