<%- include('includes/head.ejs') %>

<%- include('includes/header.ejs') %>
<section class="wrapper">
    <h1> Zoek naar een product </h1>
    <div class="searchBox">
        <input type="text" placeholder="Zoek op merknaam" />
        <input type="submit" value="Zoek" />
    </div>

  
</section>
